In [1]:
import pandas as pd  
import numpy as np

from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [2]:
pharma_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/pharma_data/Training_set_begs.csv')

In [3]:
pharma_data.head()

   ID_Patient_Care_Situation  ...  Survived_1_year
0                      22374  ...                0
1                      18164  ...                1
2                       6283  ...                0
3                       5339  ...                1
4                      33012  ...                1

[5 rows x 18 columns]

In [4]:
pharma_data['Treated_with_drugs'] = pharma_data['Treated_with_drugs'].fillna(pharma_data['Treated_with_drugs'].mode()[0])
pharma_data.head()

   ID_Patient_Care_Situation  ...  Survived_1_year
0                      22374  ...                0
1                      18164  ...                1
2                       6283  ...                0
3                       5339  ...                1
4                      33012  ...                1

[5 rows x 18 columns]

In [5]:
df = pd.DataFrame(pharma_data)
df['Treated_with_drugs'].str.get_dummies(sep=' ')

       DX1  DX2  DX3  DX4  DX5  DX6
0        0    0    0    0    0    1
1        0    1    0    0    0    0
2        0    0    0    0    0    1
3        1    0    0    0    0    0
4        0    0    0    0    0    1
...    ...  ...  ...  ...  ...  ...
23092    0    1    0    1    0    0
23093    0    0    0    0    0    1
23094    0    0    0    0    0    1
23095    0    0    1    0    0    0
23096    0    0    0    0    0    1

[23097 rows x 6 columns]

In [6]:
pharma_data = pd.get_dummies(pharma_data, columns=['Treated_with_drugs'])

In [7]:
pharma_data['Patient_mental_condition'] = pharma_data['Patient_mental_condition'].fillna(pharma_data['Patient_mental_condition'].mode()[0])
pharma_data.head()

   ID_Patient_Care_Situation  ...  Treated_with_drugs_DX6
0                      22374  ...                       1
1                      18164  ...                       0
2                       6283  ...                       1
3                       5339  ...                       0
4                      33012  ...                       1

[5 rows x 49 columns]

In [8]:
df = pd.DataFrame(pharma_data)
df['Patient_mental_condition'].str.get_dummies(sep=' ')

       Stable
0           1
1           1
2           1
3           1
4           1
...       ...
23092       1
23093       1
23094       1
23095       1
23096       1

[23097 rows x 1 columns]

In [9]:
pharma_data = pd.get_dummies(pharma_data, columns=['Patient_mental_condition'])

In [10]:
pharma_data['Patient_Smoker'] = pharma_data['Patient_Smoker'].fillna(pharma_data['Patient_Smoker'].mode()[0])
pharma_data['Patient_Smoker'].replace(['Cannot say'],'NO', inplace = True)
pharma_data.head()

   ID_Patient_Care_Situation  ...  Patient_mental_condition_Stable
0                      22374  ...                                1
1                      18164  ...                                1
2                       6283  ...                                1
3                       5339  ...                                1
4                      33012  ...                                1

[5 rows x 49 columns]

In [11]:
df = pd.DataFrame(pharma_data)
df['Patient_Smoker'].str.get_dummies(sep=' ')

       NO  YES
0       0    1
1       0    1
2       0    1
3       1    0
4       1    0
...    ..  ...
23092   1    0
23093   1    0
23094   0    1
23095   0    1
23096   0    1

[23097 rows x 2 columns]

In [12]:
pharma_data = pd.get_dummies(pharma_data, columns=['Patient_Smoker'])

In [13]:
pharma_data['Patient_Rural_Urban'] = pharma_data['Patient_Rural_Urban'].fillna(pharma_data['Patient_Rural_Urban'].mode()[0])
pharma_data.head()

   ID_Patient_Care_Situation  ...  Patient_Smoker_YES
0                      22374  ...                   1
1                      18164  ...                   1
2                       6283  ...                   1
3                       5339  ...                   0
4                      33012  ...                   0

[5 rows x 50 columns]

In [14]:
df = pd.DataFrame(pharma_data)
df['Patient_Rural_Urban'].str.get_dummies(sep=' ')

       RURAL  URBAN
0          0      1
1          1      0
2          1      0
3          0      1
4          1      0
...      ...    ...
23092      1      0
23093      1      0
23094      1      0
23095      1      0
23096      1      0

[23097 rows x 2 columns]

In [15]:
pharma_data = pd.get_dummies(pharma_data, columns=['Patient_Rural_Urban'])

In [ ]:
#pharma_data.isnull().sum()

In [17]:
#x = pharma_data.drop('Survived_1_year', axis = 1)

In [16]:
pharma_data['A'] = pharma_data['A'].fillna(pharma_data['A'].mode()[0])
pharma_data['B'] = pharma_data['B'].fillna(pharma_data['B'].mode()[0])
pharma_data['C'] = pharma_data['C'].fillna(pharma_data['C'].mode()[0])
pharma_data['D'] = pharma_data['D'].fillna(pharma_data['D'].mode()[0])
pharma_data['E'] = pharma_data['E'].fillna(pharma_data['E'].mode()[0])
pharma_data['F'] = pharma_data['F'].fillna(pharma_data['F'].mode()[0])
pharma_data['Z'] = pharma_data['Z'].fillna(pharma_data['Z'].mode()[0])
pharma_data['Number_of_prev_cond'] = pharma_data['A']+pharma_data['B']+pharma_data['C']+pharma_data['D']+pharma_data['E']+pharma_data['F']+pharma_data['Z']

In [17]:
pharma_data.head()

   ID_Patient_Care_Situation  ...  Patient_Rural_Urban_URBAN
0                      22374  ...                          1
1                      18164  ...                          0
2                       6283  ...                          0
3                       5339  ...                          1
4                      33012  ...                          0

[5 rows x 51 columns]

In [18]:
#Gio moves this
X = pharma_data.drop('Survived_1_year', axis = 1)
y = pharma_data['Survived_1_year']

In [19]:
#Gio moves this
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 5)

In [20]:
logisticRegr = LogisticRegression(solver= 'liblinear')
logisticRegr.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [21]:
pred_train = logisticRegr.predict(X_train)

In [22]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_train, pred_train)
cnf_matrix

array([[ 2613,  4203],
       [ 1206, 10455]])

In [23]:
pred = logisticRegr.predict(X_test)

In [24]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, pred)
cnf_matrix

array([[ 623, 1055],
       [ 286, 2656]])

## Load New Test

In [25]:
test_new = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/pharma_data/Testing_set_begs.csv')

In [26]:
test_new.head()

   ID_Patient_Care_Situation  Diagnosed_Condition  ...    Z Number_of_prev_cond
0                      19150                   40  ...  0.0                 2.0
1                      23216                   52  ...  0.0                 2.0
2                      11890                   50  ...  0.0                 2.0
3                       7149                   32  ...  0.0                 3.0
4                      22845                   20  ...  0.0                 1.0

[5 rows x 17 columns]

In [27]:
test_new['Treated_with_drugs'] = test_new['Treated_with_drugs'].fillna(test_new['Treated_with_drugs'].mode()[0])
test_new.head()

   ID_Patient_Care_Situation  Diagnosed_Condition  ...    Z Number_of_prev_cond
0                      19150                   40  ...  0.0                 2.0
1                      23216                   52  ...  0.0                 2.0
2                      11890                   50  ...  0.0                 2.0
3                       7149                   32  ...  0.0                 3.0
4                      22845                   20  ...  0.0                 1.0

[5 rows x 17 columns]

In [28]:
df = pd.DataFrame(test_new)
df['Treated_with_drugs'].str.get_dummies(sep=' ')

      DX1  DX2  DX3  DX4  DX5  DX6
0       0    0    1    0    0    0
1       0    0    0    0    0    1
2       0    0    0    1    1    0
3       0    0    0    0    0    1
4       0    0    1    0    0    0
...   ...  ...  ...  ...  ...  ...
9298    0    0    0    0    0    1
9299    1    0    0    0    0    0
9300    1    0    1    1    1    0
9301    0    0    0    1    0    0
9302    0    0    0    0    0    1

[9303 rows x 6 columns]

In [29]:
test_new = pd.get_dummies(test_new, columns=['Treated_with_drugs'])

In [30]:
test_new['Patient_mental_condition'] = test_new['Patient_mental_condition'].fillna(test_new['Patient_mental_condition'].mode()[0])
test_new.head()

   ID_Patient_Care_Situation  ...  Treated_with_drugs_DX6
0                      19150  ...                       0
1                      23216  ...                       1
2                      11890  ...                       0
3                       7149  ...                       1
4                      22845  ...                       0

[5 rows x 48 columns]

In [31]:
df = pd.DataFrame(test_new)
df['Patient_mental_condition'].str.get_dummies(sep=' ')

      Stable
0          1
1          1
2          1
3          1
4          1
...      ...
9298       1
9299       1
9300       1
9301       1
9302       1

[9303 rows x 1 columns]

In [32]:
test_new = pd.get_dummies(test_new, columns=['Patient_mental_condition'])

In [33]:
test_new['Patient_Smoker'] = test_new['Patient_Smoker'].fillna(test_new['Patient_Smoker'].mode()[0])
test_new.head()

   ID_Patient_Care_Situation  ...  Patient_mental_condition_Stable
0                      19150  ...                                1
1                      23216  ...                                1
2                      11890  ...                                1
3                       7149  ...                                1
4                      22845  ...                                1

[5 rows x 48 columns]

In [34]:
df = pd.DataFrame(test_new)
df['Patient_Smoker'].str.get_dummies(sep=' ')

      NO  YES
0      1    0
1      1    0
2      1    0
3      1    0
4      1    0
...   ..  ...
9298   1    0
9299   1    0
9300   0    1
9301   1    0
9302   0    1

[9303 rows x 2 columns]

In [35]:
test_new = pd.get_dummies(test_new, columns=['Patient_Smoker'])

In [36]:
test_new['Patient_Rural_Urban'] = test_new['Patient_Rural_Urban'].fillna(test_new['Patient_Rural_Urban'].mode()[0])
test_new.head()

   ID_Patient_Care_Situation  ...  Patient_Smoker_YES
0                      19150  ...                   0
1                      23216  ...                   0
2                      11890  ...                   0
3                       7149  ...                   0
4                      22845  ...                   0

[5 rows x 49 columns]

In [37]:
df = pd.DataFrame(test_new)
df['Patient_Rural_Urban'].str.get_dummies(sep=' ')

      RURAL  URBAN
0         1      0
1         0      1
2         1      0
3         0      1
4         1      0
...     ...    ...
9298      1      0
9299      0      1
9300      0      1
9301      0      1
9302      1      0

[9303 rows x 2 columns]

In [38]:
test_new = pd.get_dummies(test_new, columns=['Patient_Rural_Urban'])

In [39]:
test_new['A'] = test_new['A'].fillna(test_new['A'].mode()[0])
test_new['B'] = test_new['B'].fillna(test_new['B'].mode()[0])
test_new['C'] = test_new['C'].fillna(test_new['C'].mode()[0])
test_new['D'] = test_new['D'].fillna(test_new['D'].mode()[0])
test_new['E'] = test_new['E'].fillna(test_new['E'].mode()[0])
test_new['F'] = test_new['F'].fillna(test_new['F'].mode()[0])
test_new['Z'] = test_new['Z'].fillna(test_new['Z'].mode()[0])
test_new['Number_of_prev_cond'] = test_new['A']+test_new['B']+test_new['C']+test_new['D']+test_new['E']+test_new['F']+test_new['Z']

In [40]:
test_new.head()

   ID_Patient_Care_Situation  ...  Patient_Rural_Urban_URBAN
0                      19150  ...                          0
1                      23216  ...                          1
2                      11890  ...                          0
3                       7149  ...                          1
4                      22845  ...                          0

[5 rows x 50 columns]

In [48]:
Survived_1_year = logisticRegr.predict(test_new)

res = pd.DataFrame(Survived_1_year) #preditcions are nothing but the final predictions of your model on input features of your new unseen test data
res.index = test_new.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["Survived_1_year"]

# To download the csv file locally
from google.colab import files
res.to_csv('prediction_results_HP.csv')         
files.download('prediction_results_HP.csv')